<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IITSH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    {% include 'menu.html' %}
    <div class="uk-width-3-5 uk-margin-medium-top" style="margin: 0 auto">
        <div class="uk-child-width-1-2@s" uk-grid>

        {% for cab in data %}

            <div>
                <div class="uk-dark uk-background-muted uk-padding">
                    <h3>{{cab.number}}</h3>
                    <p>Температура: {{cab.temperature}}</p>
                    <button class="uk-button uk-button-default">Button</button>
                </div>
            </div>

        {% endfor %}

    </div>



    </div>


</body>

</html>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>