
<nav class="uk-navbar-container uk-width-4-5" style="margin: 0 auto; background-color: rgba(255,255,255,0);" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">IITSH</a></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Кабинеты</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-flex uk-flex-middle">
            

            <li class="uk-active"><a href="/">Get started</a></li>

        </ul>
    </div>
</nav>
